.projectCard {
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 12px;
  background: #fff;
  width: 95%;
  min-width: 330px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  transition: transform 0.2s ease;
  margin: 0 auto;

  display: flex;               /* make flex container */
  flex-direction: column;      /* vertical stacking */
  min-height: 500px;           /* or whatever fits your content */
}

.projectCard:hover {
  transform: translateY(-5px);
}

.projectCard h2 a {
  color: #0070f3;
  text-decoration: none;
}

.description {
  white-space: pre-line;
  margin-bottom: 16px;
  color: #333;
}

.techList {
  list-style: disc inside;
  margin: 0 0 16px;
  padding: 0;
  color: #555;
}

.imgContainer {
  display: flex;
  gap: 12px;
  margin-top: auto;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  justify-content: center;
  scrollbar-width: thin;
  scrollbar-color: #aaa #fff;
}

.imgContainer img {
  width: 180px;
  height: 120px;
  object-fit: cover;
  border-radius: 6px;
  flex-shrink: 0;
  cursor: pointer;
  margin: 3px;
}
