.navbarContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  font-size: 24px;
}

.navbarContainer a {
  text-decoration: none;
  color: inherit; /* Or set a specific color like #000 */
}

.navbarContainer a:visited {
  color: inherit; /* Prevents purple color on visited links */
}

.separator {
  margin: 0 8px;
  color: #ccc;
}